interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lm-api-reads.fantasy.espn.com/apis/v3/games/ffl/seasons/2018/segments/0/leagues/1234?view=mMatchup&view=mRoster&view=mSettings&view=mStandings&view=mTeam
  response:
    body:
      string: '{"draftDetail":{"drafted":true,"inProgress":false},"gameId":1,"id":1234,"members":[{"id":"{SWID-REDACTED}","notificationSettings":[]},{"id":"{SWID-REDACTED}","notificationSettings":[]},{"id":"{SWID-REDACTED}","notificationSettings":[]},{"id":"{SWID-REDACTED}","notificationSettings":[]},{"id":"{SWID-REDACTED}","notificationSettings":[]},{"id":"{SWID-REDACTED}","notificationSettings":[]},{"id":"{SWID-REDACTED}","notificationSettings":[]},{"id":"{SWID-REDACTED}","notificationSettings":[]},{"id":"{SWID-REDACTED}","notificationSettings":[]},{"id":"{SWID-REDACTED}","notificationSettings":[]}],"schedule":[{"away":{"gamesPlayed":0,"pointsByScoringPeriod":{"1":120.12},"teamId":9,"totalPoints":120.12},"home":{"gamesPlayed":0,"pointsByScoringPeriod":{"1":82.34},"teamId":5,"totalPoints":82.34},"id":0,"matchupPeriodId":1,"winner":"AWAY"},{"away":{"gamesPlayed":0,"pointsByScoringPeriod":{"1":76.24},"teamId":3,"totalPoints":76.24},"home":{"gamesPlayed":0,"pointsByScoringPeriod":{"1":85.56},"teamId":2,"totalPoints":85.56},"id":1,"matchupPeriodId":1,"winner":"HOME"},{"away":{"gamesPlayed":0,"pointsByScoringPeriod":{"1":155.78},"teamId":7,"totalPoints":155.78},"home":{"gamesPlayed":0,"pointsByScoringPeriod":{"1":65.76},"teamId":8,"totalPoints":65.76},"id":2,"matchupPeriodId":1,"winner":"AWAY"},{"away":{"gamesPlayed":0,"points[...]
- request:
    body: null
    headers:
      x-fantasy-filter:
      - '{"filterActive": {"value": true}}'
    method: GET
    uri: https://lm-api-reads.fantasy.espn.com/apis/v3/games/ffl/seasons/2018/players?view=players_wl
  response:
    body:
      string: '[{"defaultPositionId":2,"droppable":true,"eligibleSlots":[2,3,7,20,21,23],"firstName":"Fozzy","fullName":"Fozzy
        Whittaker","id":15755,"lastName":"Whittaker","ownership":{"percentOwned":0.0},"proTeamId":29,"universeId":2},{"defaultPositionId":2,"droppable":true,"eligibleSlots":[2,3,7,20,21,23],"firstName":"Austin","fullName":"Austin
        Johnson","id":15765,"lastName":"Johnson","ownership":{"percentOwned":0.0},"proTeamId":27,"universeId":2},{"defaultPositionId":12,"droppable":true,"eligibleSlots":[12,14,15,20,21],"firstName":"Tye","fullName":"Tye
        Smith","id":2588098,"lastName":"Smith","ownership":{"percentOwned":0.0},"proTeamId":10,"universeId":1},{"defaultPositionId":11,"droppable":true,"eligibleSl[...]
