interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://lm-api-reads.fantasy.espn.com/apis/v3/games/ffl/seasons/2026/segments/0/leagues/99?view=mTeam&view=mRoster&view=mMatchup&view=mSettings&view=mStandings
  response:
    body:
      string: '{"draftDetail":{"drafted":true,"inProgress":false},"gameId":1,"id":99,"members":[{"displayName":"alpha","firstName":"Ann","id":"{OWNER-ALPHA}","lastName":"Alpha"},{"displayName":"bravo","firstName":"Bo","id":"{OWNER-BRAVO}","lastName":"Bravo"}],"schedule":[{"away":{"gamesPlayed":1,"teamId":2,"totalPoints":88.5},"home":{"gamesPlayed":1,"teamId":1,"totalPoints":105.25},"id":1,"matchupPeriodId":1,"winner":"HOME"},{"away":{"gamesPlayed":1,"teamId":2,"totalPoints":91.75},"home":{"gamesPlayed":1,"teamId":1,"totalPoints":105.25},"id":2,"matchupPeriodId":2,"winner":"HOME"},{"away":{"gamesPlayed":1,"teamId":2,"totalPoints":150.0},"home":{"gamesPlayed":1,"teamId":1,"totalPoints":149.5},"id":13,"matchupPeriodId":13,"playoffTierType":"WINNERS_BRACKET","winner":"AWAY"}],"scoringPeriodId":2,"seasonId":2026,"segmentId":0,"settings":{"acquisitionSettings":{"acquisitionBudget":100,"isUsingAcquisitionBudget":true},"draftSettings":{"keeperCount":0},"name":"Synthetic Test League","rosterSettings":{"lineupSlotCounts":{"0":1,"16":1,"17":1,"2":2,"20":5,"23":1,"4":2,"6":1}},"scheduleSettings":{"divisions":[],"matchupPeriodCount":14,"matchupPeriods":{"1":[1],"10":[10],"11":[11],"12":[12],"13":[13,14],"2":[2],"3":[3],"4":[4],"5":[5],"6":[6],"7":[7],"8":[8],"9":[9]},"playoffMatchupPeriodLength":2,"playoffSeedingRule":"TOTAL_POINTS_SCORED","playoffTeamCount":2},"scoringSettings":{"matchupTieRule":"NONE","playoffMatchupTieRule":"NONE","scoringItems":[],"scoringType":"H2H_POINTS"},"size":2,"tradeSettings":{"vetoVotesRequired":0}},"status":{"currentMatchupPeriod":2,"finalScoringPeriod":14,"firstScoringPeriod":1,"isActive":true,"latestScoringPeriod":2,"previousSeasons":[],"standingsUpdateDate":1789068600000},"teams":[{"abbrev":"TEAM","currentProjectedRank":1,"divisionId":0,"draftDayProjectedRank":1,"id":1,"isActive":true,"name":"Team Alpha","owners":["{OWNER-ALPHA}"],"playoffSeed":1,"points":210.5,"pointsAdjusted":0,"pointsDelta":0,"primaryOwner":"{OWNER-ALPHA}","rankCalculatedFinal":0,"record":{"overall":{"losses":0,"pointsAgainst":180.25,"pointsFor":210.5,"streakLength":2,"streakType":"WIN","ties":0,"wins":2}},"roster":{"entries":[{"acquisitionDate":1789068600000,"acquisitionType":"DRAFT","injuryStatus":"ACTIVE","lineupSlotId":0,"pendingTransactionIds":null,"playerId":2001,"playerPoolEntry":{"appliedStatTotal":21.4,"id":2001,"keeperValue":0,"keeperValueFuture":0,"lineupLocked":false,"onTeamId":1,"player":{"active":true,"defaultPositionId":0,"droppable":true,"eligibleSlots":[0,20,21],"firstName":"Ada","fullName":"Ada Lovelace","id":2001,"injured":false,"injuryStatus":"ACTIVE","lastName":"Lovelace","ownership":{"percentOwned":61.5,"percentStarted":40.25},"proTeamId":12,"stats":[{"appliedAverage":21.4,"appliedStats":{"42":100.0},"appliedTotal":21.4,"externalId":"2026","id":"02026","proTeamId":12,"scoringPeriodId":2,"seasonId":2026,"statSourceId":0,"statSplitTypeId":1,"stats":{"42":100.0}},{"appliedAverage":19.8,"appliedStats":{"42":110.0},"appliedTotal":19.8,"externalId":"2026","id":"12026","proTeamId":12,"scoringPeriodId":2,"seasonId":2026,"statSourceId":1,"statSplitTypeId":1,"stats":{"42":110.0}}],"universeId":1},"ratings":{},"rosterLocked":false,"status":"ONTEAM","tradeLocked":false},"status":"NORMAL"},{"acquisitionDate":1789068600000,"acquisitionType":"DRAFT","injuryStatus":"ACTIVE","lineupSlotId":2,"pendingTransactionIds":null,"playerId":2002,"playerPoolEntry":{"appliedStatTotal":14.2,"id":2002,"keeperValue":0,"keeperValueFuture":0,"lineupLocked":false,"onTeamId":1,"player":{"active":true,"defaultPositionId":2,"droppable":true,"eligibleSlots":[2,3,23,20,21],"firstName":"Grace","fullName":"Grace Hopper","id":2002,"injured":false,"injuryStatus":"ACTIVE","lastName":"Ho[...]
- request:
    body: null
    headers:
      x-fantasy-filter:
      - '{"filterActive": {"value": true}}'
    method: GET
    uri: https://lm-api-reads.fantasy.espn.com/apis/v3/games/ffl/seasons/2026/players?view=players_wl
  response:
    body:
      string: '[{"fullName":"Ada Lovelace","id":2001},{"fullName":"Grace Hopper","id":2002},{"fullName":"Katherine Johnson","id":2003},{"fullName":"Alan Turing","id":2011},{"fullName":"Margaret Hamilton","id":2012},{"fullName":"Barbara Liskov","id":3001},{"fullName":"Radia Perlman","id":3002}]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://lm-api-reads.fantasy.espn.com/apis/v3/games/ffl/seasons/2026?view=proTeamSchedules_wl
  response:
    body:
      string: '{"settings":{"proTeams":[{"abbrev":"FA","id":0,"proGamesByScoringPeriod":{}},{"abbrev":"KC","id":12,"proGamesByScoringPeriod":{"2":[{"awayProTeamId":12,"date":1789318800000,"homeProTeamId":26,"id":4001}]}},{"abbrev":"SEA","id":26,"proGamesByScoringPeriod":{"2":[{"awayProTeamId":12,"date":1789330500000,"homeProTeamId":26,"id":4002}]}}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://lm-api-reads.fantasy.espn.com/apis/v3/games/ffl/seasons/2026/segments/0/leagues/99?view=mDraftDetail
  response:
    body:
      string: '{"draftDetail":{"drafted":true,"inProgress":false,"picks":[{"bidAmount":0,"keeper":false,"nominatingTeamId":0,"playerId":2001,"roundId":1,"roundPickNumber":1,"teamId":1}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://lm-api-reads.fantasy.espn.com/apis/v3/games/ffl/seasons/2026/segments/0/leagues/99?view=mMatchupScore
  response:
    body:
      string: '{"draftDetail":{"drafted":true,"inProgress":false},"gameId":1,"id":99,"members":[{"displayName":"alpha","firstName":"Ann","id":"{OWNER-ALPHA}","lastName":"Alpha"},{"displayName":"bravo","firstName":"Bo","id":"{OWNER-BRAVO}","lastName":"Bravo"}],"schedule":[{"away":{"gamesPlayed":1,"tea[...]
- request:
    body: null
    headers:
      x-fantasy-filter:
      - '{"transactions": {"filterType": {"value": ["FREEAGENT", "WAIVER", "WAIVER_ERROR", "TRADE_ACCEPT", "TRADE_UPHOLD", "ROSTER", "DRAFT"]}}}'
    method: GET
    uri: https://lm-api-reads.fantasy.espn.com/apis/v3/games/ffl/seasons/2026/segments/0/leagues/99?scoringPeriodId=2&view=mTransactions2
  response:
    body:
      string: '{"id":99,"scoringPeriodId":2,"seasonId":2026,"transactions":[{"bidAmount":17,"executionType":"EXECUTE","id":"waiver-0001","isPending":false,"items":[{"fromTeamId":0,"playerId":3001,"toTeamId":1,"type":"ADD"},{"fromTeamId":1,"playerId":2003,"toTeamId":0,"type":"DROP"}],"memberId":"{OWNER-ALPHA}","processDate":1789068600000,"scoringPeriodId":2,"status":"EXECUTED","teamId":1,"type":"WAIVER"},{"bidAmount":0,"executionType":"EXECUTE","id":"proposal-0002","isPending":true,"items":[{"fromTeamId":1,"playerId":2002,"toTeamId":2,"type":"ADD"}],"proposedDate":1789068600000,"scoringPeriodId":2,"status":"PENDING","teamId":2,"type":"TRADE_PROPOSAL"}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-fantasy-filter:
      - '{"topics": {"filterType": {"value": ["ACTIVITY_TRANSACTIONS"]}, "limit": 25, "limitPerMessageSet": {"value": 25}, "offset": 0, "sortMessageDate": {"sortPriority": 1, "sortAsc": false}, "sortFor": {"sortPriority": 2, "sortAsc": false}, "filterIncludeMessageTypeIds": {"value": [178, 180, 179, 239, 181, 244]}}}'
    method: GET
    uri: https://lm-api-reads.fantasy.espn.com/apis/v3/games/ffl/seasons/2026/segments/0/leagues/99/communication/?view=kona_league_communication
  response:
    body:
      string: '{"topics":[{"author":"{OWNER-ALPHA}","date":1788969600000,"id":"topic-0001","messages":[{"author":"{OWNER-ALPHA}","date":1788969600000,"from":1,"id":"message-0001","messageTypeId":244,"targetId":2002,"to":2}],"type":"ACTIVITY_TRANSACTIONS"}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-fantasy-filter:
      - '{"players": {"filterStatus": {"value": ["FREEAGENT", "WAIVERS"]}, "filterSlotIds": {"value": []}, "limit": 50, "sortPercOwned": {"sortPriority": 1, "sortAsc": false}, "sortDraftRanks": {"sortPriority": 100, "sortAsc": true, "value": "STANDARD"}}}'
    method: GET
    uri: https://lm-api-reads.fantasy.espn.com/apis/v3/games/ffl/seasons/2026/segments/0/leagues/99?scoringPeriodId=2&view=kona_player_info
  response:
    body:
      string: '{"players":[{"draftAuctionValue":0,"id":3001,"keeperValue":0,"lineupLocked":false,"onTeamId":0,"player":{"active":true,"defaultPositionId":4,"droppable":true,"eligibleSlots":[3,4,5,23,20,21],"firstName":"Barbara","fullName":"Barbara Liskov","id":3001,"injured":false,"injuryStatus":"ACTIVE","lastName":"Liskov","ownership":{"percentOwned":61.5,"percentStarted":40.25},"proTeamId":26,"stats":[{"appliedAverage":0.0,"appliedStats":{"42":100.0},"appliedTotal":0.0,"externalId":"2026","id":"02026","proTeamId":26,"scoringPeriodId":2,"sea[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://lm-api-reads.fantasy.espn.com/apis/v3/games/ffl/seasons/2026/segments/0/leagues/99?scoringPeriodId=2&view=mPositionalRatings
  response:
    body:
      string: '{"positionAgainstOpponent":{"positionalRatings":{"0":{"average":12.0,"ratingsByOpponent":{"12":{"average":11.0,"rank":4},"26":{"average":13.0,"rank":9}}},"2":{"average":12.0,"ratingsByOpponent":{"12":{"average":11.0,"rank":4},"26":{"average":13.0,"rank":9}}},"4":{"average":12.0,"ratingsByOpponent":{"12":{"average":11.0,"rank":4},"26":{"average":13.0,"rank":9}}},"6":{"average":12.0,"ratingsByOpponent":{"12":{"average":11.0,"rank":4},"26":{"average":13.0,"rank":9}}}}}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://lm-api-reads.fantasy.espn.com/apis/v3/games/ffl/seasons/2026/segments/0/leagues/99?scoringPeriodId=1&view=mMatchupScore&view=mScoreboard
  response:
    body:
      string: '{"gameId": 1, "id": 99, "scoringPeriodId": 1, "seasonId": 2026, "segmentId": 0, "status": {"activatedDate": 1526023857070, "createdAsLeagueType": 0, "currentLeagueType": 0, "currentMatchupPeriod": 16, "finalScoringPeriod": 16, "firstScoringPeriod": 1, "isActive": true, "isExpired": false, "isFull": true, "isPlayoffMatchupEdited": false, "isToBeDeleted": false, "isViewable": false, "isWaiverOrderEdited": false, "latestScoringPeriod": 18, "previousSeasons": [2015, 2016, 2017], "standingsUpdateDate": 1546567827627, "teamsJoined": 10, "transactionScoringPeriod": 18, "waiverLastExecutionDate": 1549330323490, "waiverProcessStatus": {"2018-09-26T08:00:00.000+0000": 11, "2018-10-31T08:00:00.000+0000": 7, "2018-10-06T08:00:00.000+0000": 1, "2018-12-05T08:00:00.000+0000": 10, "2018-12-15T08:00:00.000+0000": 1, "2018-11-07T08:00:00.000+0000": 10, "2018-11-22T08:00:00.000+0000": 2, "2018-12-02T08:00:00.000+0000": 1, "2018-12-12T08:00:00.000+0000": 7, "2018-10-03T08:00:00.000+0000": 10, "2018-10-18T08:00:00.000+0000": 3, "2018-08-29T08:00:00.000+0000": 1, "2018-11-09T08:00:00.000+0000": 1, "2018-09-15T08:00:00.000+0000": 1, "2018-09-20T08:00:00.000+0000": 1, "2018-10-10T08:00:00.000+0000": 8, "2018-11-14T08:00:00.000+0000": 8, "2018-12-19T08:00:00.000+0000": 8, "2018-12-06T08:00:00.000+0000": 2, "2018-09-27T08:00:00.000+0000": 1, "2018-09-12T08:00:00.000+0000": 5, "2018-10-17T08:00:00.000+0000": 14, "2018-11-01T08:00:00.000+0000": 1, "2018-11-21T08:00:00.000+0000": 9, "2018-10-24T08:00:00.000+0000": 7, "2018-09-19T08:00:00.000+0000": 10, "2018-11-08T08:00:00.000+0000": 1, "2018-11-28T08:00:00.000+0000": 7}}, "schedule": [{"away": {"adjustment": 0.0, "gamesPlayed": 0, "pointsByScoringPeriod": {"13": 128.0}, "rosterForCurrentScoringPeriod": {"appliedStatTotal": 128.0, "entries": [{"acquisitionDate": null, "acquisitionType": null, "injuryStatus": "NORMAL", "lineupSlotId": 20, "pendingTransactionIds": null, "playerId": 2576434, "playerPoolEntry": {"appliedStatTotal": 0.0, "id": 2576434, "keeperValue": 0, "keeperValueFuture": 0, "lineupLocked": true, "onTeamId": 11, "player": {"active": true, "defaultPositionId": 2, "droppable": true, "eligibleSlots": [2, 3, 7, 20, 21, 23], "firstName": "Melvin", "fullName": "Melvin Gordon", "id": 2576434, "injured": false, "injuryStatus": "ACTIVE", "lastName": "Gordon", "lastNewsDate": 1547389498000, "lastVideoDate": 1545245764000, "proTeamId": 24, "stats": [{"appliedStats": {}, "appliedTotal": 0.0, "externalId": "401030951", "id": "11401030951", "proTeamId": 24, "scoringPeriodId": 13, "seasonId": 2018, "statSourceId": 1, "statSplitTypeId": 1, "stats": {}, "variance": {}}, {"appliedStats": {}, "appliedTotal": 0.0, "externalId": "401030951", "id": "01401030951", "proTeamId": 24, "scoringPeriodId": 13, "seasonId": 2018, "statSourceId": 0, "statSplitTypeId": 1, "stats": {"155": 1.0}, "variance": {}}], "universeId": 1}, "rosterLocked": true, "status": "ONTEAM", "tradeLocked": false}, "status": "NORMAL"}, {"acquisitionDate": null, "acquisitionType": null, "injuryStatus": "NORMAL", "lineupSlotId": 4, "pendingTransactionIds": null, "playerId": 13982, "playerPoolEnt[...]
